.navbar-container {
    display: flex;
    height: 60px;
    position: fixed;
    left: 50%;
    width: 24vw;
    align-items: center;
    justify-content: space-around;
    bottom: 15px;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
    z-index: 9999;
    padding: 5px;
    gap: 5px;
}

body.dark-mode .navbar-container {
    background: rgba(0, 0, 0, 0.3);
    color: var(--text-color-dark);
}

.group-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    overflow: hidden;
}

.group-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--text-color-light);
}

body.dark-mode .group-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: var(--text-color-dark);
}

body.light-mode .group-button:hover {
    background-color: rgba(6, 120, 227, 0.341);
    color: var(--text-color-light);
}

.group-button.active {
    width: 40%;
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
    border-radius: 1.4rem;
    display: flex;
    justify-content: space-evenly;
    transition: all ease-in-out 0.5s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.group-button.active h6 {
    font-size: 1vw;
    letter-spacing: 5px;
    font-weight: 300;
    transition: all ease-in-out 0.5s;
}

body.dark-mode .group-button.active {
    background: rgb(21, 42, 62);
    background: linear-gradient(90deg, rgba(0, 26, 50, 0.245) 35%, rgb(1, 26, 42) 71%);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

body.dark-mode .group-button.active h6 {
    color: #dcdcdc;
}

.icon {
    font-size: 1.5rem;
}

body.dark-mode .icon {
    color: var(--text-color-dark);

}

.moon {
    position: fixed;
    width: 130px;
    height: 130px;
    right: 45%;
    bottom: 10px;
    background-color: #d1d1d1;
    border-radius: 100%;
    z-index: 9998;
    transition: all ease-in-out 0.5s;
    animation: moveBody 6s ease-in-out infinite;
    box-shadow: 0 0 4px 12px #bdbdbd53, 0 0 4px 8px #bdbdbd97, 0 0 3px 5px #bdbdbdd5;
    cursor: pointer;
}

.moon:hover {
    scale: 1.5;
    animation: pulse-moon 3.5s infinite, moveBody 6s ease-in-out infinite;
}

.moon::after {
    position: absolute;
    content: "";
    border-radius: 100%;
    height: 25px;
    width: 25px;
    background-color: #bdbdbdd5;
    top: 15%;
    left: 15%;
    box-shadow: 0 0 8px 0 #2c2c2c3e, inset 0 0 5px 0 #53515129;
}

.moon::before {
    position: absolute;
    content: "";
    border-radius: 100%;
    height: 35px;
    width: 35px;
    background-color: #bdbdbdd5;
    top: 20%;
    left: 50%;
    box-shadow: 0 0 8px 0 #2c2c2c3e, inset 0 0 5px 0 #0000002a;
}

.sun {
    position: fixed;
    width: 130px;
    height: 130px;
    right: 45%;
    bottom: 10px;
    background: radial-gradient(circle, #f4ff77, #f4ff77 70%, transparent 100%);
    border-radius: 50%;
    z-index: 9996;
    transition: all 0.5s ease-in-out;
    animation: moveBody 6s ease-in-out infinite;
    box-shadow: 0 0 10px 15px rgba(244, 255, 119, 0.5), 0 0 20px 30px rgba(244, 255, 119, 0.3);
    cursor: pointer;
}

.sun:hover {
    scale: 1.5;
    box-shadow: 0 0 15px 25px rgba(244, 255, 119, 0.7), 0 0 30px 50px rgba(244, 255, 119, 0.5);
    animation: pulse-sun 3.5s infinite, moveBody 6s ease-in-out infinite;
}

.cloud {
    background: rgba(255, 255, 255, 0.9);
    width: 120px;
    height: 60px;
    border-radius: 60px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1;
    animation: move 10s infinite linear;
}

.cloud:after {
    content: '';
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -20px;
    left: 10px;
}

.cloud:before {
    content: '';
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: -30px;
    right: 10px;
}

.cloud-left {
    top: 88%;
    left: 40%;
    z-index: 9997;
}

.cloud-right {
    top: 84%;
    right: 40%;
    animation: move 12s infinite linear;
}

.star {
    width: 5px;
    height: 5px;
    background-color: yellow;
    position: absolute;
    border-radius: 100%;
    box-shadow: 0 0 8px 6px rgba(255, 255, 0, 0.364), 0 0 5px 4px rgba(255, 255, 0, 0.562), 0 0 2px 2px yellow;
    animation: twinkle 5s infinite, moveStar 8s infinite;
}

.star1 {
    top: 10%;
    left: -25%;
}

.star2 {
    top: -16%;
    left: 80%;
    animation-duration: 6s;
}

.star3 {
    top: 27%;
    right: -20%;
    animation-duration: 7s;
}

.star4 {
    top: 60%;
    right: -30%;
    animation-duration: 8s;
}

.star5 {
    top: 75%;
    left: -40%;
    animation-duration: 9s;
}

.star6 {
    top: 25%;
    left: -15%;
    animation-duration: 6s;
}

@keyframes moveBody {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes pulse-moon {
    0% {
        box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.192), 0 0 10px 5px rgba(255, 255, 255, 0.3);
    }

    50% {
        box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8), 0 0 30px 15px rgba(255, 255, 255, 0.279);
    }

    100% {
        box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5), 0 0 10px 5px rgba(255, 255, 255, 0.3);
    }
}

@keyframes pulse-sun {
    0% {
        box-shadow: 0 0 10px 0 rgba(244, 255, 119, 0.3), 0 0 20px 10px rgba(244, 255, 119, 0.4);
    }

    50% {
        box-shadow: 0 0 10px 5px rgba(244, 255, 119, 0.9), 0 0 40px 20px rgba(244, 255, 119, 0.6);
    }

    100% {
        box-shadow: 0 0 10px 0 rgba(244, 255, 119, 0.5), 0 0 20px 10px rgba(244, 255, 119, 0.4);
    }
}

@keyframes moveStar {
    0% {
        transform: translateX(0) translateY(0);
    }

    50% {
        transform: translateX(5px) translateY(-5px);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes twinkle {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-in-fwd-right {
    0% {
        -webkit-transform: translateZ(-1400px) translateX(1000px);
        transform: translateZ(-1400px) translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0);
        opacity: 1;
    }
}